.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-item {
    padding-left: 12px;
}
.list-item + .list-item {
    margin-top: 12px;
}
.op-icon {
    color: #409EFC;
    cursor: pointer;
    margin-left: 8px;
    font-size: 16px;
    vertical-align: middle;
}
.list-title {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0;
}
.sub-title {
    color: #878e84;
    margin-bottom: 8px;
}

.list-item + .sub-title {
    margin-top: 16px;
}